* {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

body,td,th {
	line-height: 180%; font-size : 12px;
	color: #6b6b6b;
	font-family: "微软雅黑";
	font-size: 12px;
}

a:link {
	color: #6b6b6b;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #6b6b6b;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a {
	font-family: "微软雅黑";
	font-size: 12px;
}

p {
	line-height: 180%;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #6b6b6b;
}

p2 {
	line-height: 180%;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #6b6b6b;
}

p3 {
	line-height: 180%;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #fff;
}

.clear {
	clear: both;
}

.freamheadmid {
	text-align: center;
	margin: 0 auto;
	width: 950px;
	height: 50px;
}

.pagescroll-hd {
	position: fixed;
	text-align: center;
	z-index: 5;
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	box-shadow: 1px 0px 50px #E1E1E1;
	float: left;
}

#pagescroll {
	margin-top: 0px;
	z-index: 1;
}

#pagescroll .section {
	margin: 0 auto;
	background: none;
	z-index: 2;
}

#pagescroll .inner {
	width: 950px;
	text-align: center;
	height: 0;
	margin: 0 auto;
	z-index: 3;
}

#pagescroll .section1 {
	background-color: #ffffff;
	background: url(../../images/welcome/screen1.webp);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#pagescroll .section1 .fp-tableCell {
	vertical-align: top;
}

#pagescroll .section2 {
	background-color: #ffffff;
	background-image: url(../../images/welcome/666.webp);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#pagescroll .section2 .fp-tableCell {
	vertical-align: top;
}

#pagescroll .section3 {
	background-color: #ffffff;
	background-image: url(../../images/welcome/42.webp);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#pagescroll .section3 .fp-tableCell {
	vertical-align: top;
}

#pagescroll .section4 {
	background-color: #ffffff;
	background-image: url(../../images/welcome/3.webp);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#pagescroll .section4 .fp-tableCell {
	vertical-align: top;
}

#pagescroll .section5 {
	background-color: #ffffff;
	background-image: url(../../images/welcome/5.webp);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#pagescroll .section5 .fp-tableCell {
	vertical-align: top;
}

#pagescroll .section6 {
	background-color: #ffffff;
	background-image: url(../../images/welcome/2.webp);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#pagescroll .section6 .fp-tableCell {
	vertical-align: top;
}

.blur {
	-webkit-filter: blur(10px); /* Chrome, Opera */
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}