<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.ProjectExperienceMapper">
	<resultMap id="BaseResultMap" type="com.pojo.ProjectExperience">
		<id column="pExperience_id" property="pexperienceId" jdbcType="INTEGER" />
		<result column="project_name" property="projectName" jdbcType="VARCHAR" />
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="project_position" property="projectPosition"
			jdbcType="VARCHAR" />
		<result column="start_time" property="startTime" jdbcType="DATE" />
		<result column="end_time" property="endTime" jdbcType="DATE" />
		<result column="project_description" property="projectDescription"
			jdbcType="VARCHAR" />
		<result column="project_responsibility" property="projectResponsibility"
			jdbcType="VARCHAR" />
		<result column="project_achievement" property="projectAchievement"
			jdbcType="VARCHAR" />
	</resultMap>
	<insert id="addProjectExperience" parameterType="com.pojo.ProjectExperience"
		useGeneratedKeys="true" keyProperty="pexperienceId">
		insert into project_experience
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pexperienceId != null">
				pExperience_id,
			</if>
			<if test="projectName != null">
				project_name,
			</if>
			<if test="companyName != null">
				company_name,
			</if>
			<if test="projectPosition != null">
				project_position,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="projectDescription != null">
				project_description,
			</if>
			<if test="projectResponsibility != null">
				project_responsibility,
			</if>
			<if test="projectAchievement != null">
				project_achievement,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pexperienceId != null">
				#{pexperienceId,jdbcType=INTEGER},
			</if>
			<if test="projectName != null">
				#{projectName,jdbcType=VARCHAR},
			</if>
			<if test="companyName != null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="projectPosition != null">
				#{projectPosition,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=DATE},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=DATE},
			</if>
			<if test="projectDescription != null">
				#{projectDescription,jdbcType=VARCHAR},
			</if>
			<if test="projectResponsibility != null">
				#{projectResponsibility,jdbcType=VARCHAR},
			</if>
			<if test="projectAchievement != null">
				#{projectAchievement,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="findProjectExperiencesById" parameterType="int"
		resultMap="BaseResultMap">
		select * from project_experience where pExperience_id=#{id}
	</select>
</mapper>