<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.ResumeMapper">
	<resultMap id="BaseResultMap" type="com.pojo.Resume">
		<id column="resume_id" property="resumeId" jdbcType="INTEGER" />
		<result column="jobhunter_id" property="jobhunterId" jdbcType="INTEGER" />
		<result column="career_intention_id" property="careerIntentionId"
			jdbcType="INTEGER" />
		<result column="work_experience_ids" property="workExperienceIds"
			jdbcType="VARCHAR" />
		<result column="education_experience_ids" property="educationExperienceIds"
			jdbcType="VARCHAR" />
		<result column="project_experience_ids" property="projectExperienceIds"
			jdbcType="VARCHAR" />
		<result column="visibility" property="visibility" jdbcType="INTEGER" />
		<result column="visit_number" property="visitNumber" jdbcType="INTEGER" />
		<result column="last_edit_time" property="lastEditTime"
			jdbcType="DATE" />
	</resultMap>
	<resultMap type="com.pojo.Resume" id="resumeJobMap" extends="BaseResultMap">
		<collection property="jobCustoms" ofType="com.pojo.JobCustom">
			<id column="job_id" property="jobId" jdbcType="INTEGER" />
			<result column="job_name" property="jobName" jdbcType="VARCHAR" />
			<result column="worksite" property="worksite" jdbcType="VARCHAR" />
			<result column="job_subtime" property="jobSubtime" jdbcType="DATE" />
			<result column="industry_id" property="industryId" jdbcType="INTEGER" />
			<result column="job_salary" property="jobSalary" jdbcType="DOUBLE" />
			<result column="job_status" property="jobStatus" jdbcType="INTEGER" />
			<result column="job_description" property="jobDescription"
				jdbcType="VARCHAR" />
			<result column="job_email" property="jobEmail" jdbcType="VARCHAR" />
			<result column="company_id" property="companyId" jdbcType="INTEGER" />
			<result column="is_hot" property="isHot" jdbcType="INTEGER" />
			<result column="company_name" property="companyName" jdbcType="VARCHAR" />
			<result column="company_location" property="companyLocation"
				jdbcType="VARCHAR" />
			<result column="industry_name" property="industryName"
				jdbcType="VARCHAR" />
			<result column="submittime" property="submitTime" jdbcType="DATE" />
		</collection>
	</resultMap>
	<resultMap type="com.pojo.ResumeCustom" id="resumeCustomJobMap"
		extends="resumeJobMap">
	</resultMap>
	<select id="findResumeJob" parameterType="int" resultMap="resumeCustomJobMap">
		select
		r.*,rj.submitTime,j.*,c.company_name,c.company_location,i.industry_name
		from resume r
		left join resume_job rj on
		r.resume_id=rj.resume_id
		left
		join job j on
		rj.job_id=j.job_id left join
		company c on
		j.company_id=c.company_id
		left join
		industry i on
		j.industry_id=i.industry_id where
		r.resume_id =
		#{resumeId} order by
		rj.submitTime desc
	</select>
	<insert id="addResume" parameterType="com.pojo.Resume">
		insert into resume
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="resumeId != null">
				resume_id,
			</if>
			<if test="jobhunterId != null">
				jobhunter_id,
			</if>
			<if test="careerIntentionId != null">
				career_intention_id,
			</if>
			<if test="workExperienceIds != null">
				work_experience_ids,
			</if>
			<if test="educationExperienceIds != null">
				education_experience_ids,
			</if>
			<if test="projectExperienceIds != null">
				project_experience_ids,
			</if>
			<if test="visibility != null">
				visibility,
			</if>
			<if test="visitNumber != null">
				visit_number,
			</if>
			<if test="lastEditTime != null">
				last_edit_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="resumeId != null">
				#{resumeId,jdbcType=INTEGER},
			</if>
			<if test="jobhunterId != null">
				#{jobhunterId,jdbcType=INTEGER},
			</if>
			<if test="careerIntentionId != null">
				#{careerIntentionId,jdbcType=INTEGER},
			</if>
			<if test="workExperienceIds != null">
				#{workExperienceIds,jdbcType=VARCHAR},
			</if>
			<if test="educationExperienceIds != null">
				#{educationExperienceIds,jdbcType=VARCHAR},
			</if>
			<if test="projectExperienceIds != null">
				#{projectExperienceIds,jdbcType=VARCHAR},
			</if>
			<if test="visibility != null">
				#{visibility,jdbcType=INTEGER},
			</if>
			<if test="visitNumber != null">
				#{visitNumber,jdbcType=INTEGER},
			</if>
			<if test="lastEditTime != null">
				#{lastEditTime,jdbcType=DATE},
			</if>
		</trim>
	</insert>
	<select id="findResumeByJobhunterId" parameterType="int"
		resultMap="BaseResultMap">
		select * from resume where jobhunter_id=#{jobhunterId}
	</select>
	<update id="updateResume" parameterType="com.pojo.Resume">
		update resume
		<set>
			<if test="resumeId != null">
				resume_id = #{resumeId,jdbcType=INTEGER},
			</if>
			<if test="jobhunterId != null">
				jobhunter_id = #{jobhunterId,jdbcType=INTEGER},
			</if>
			<if test="careerIntentionId != null">
				career_intention_id =
				#{careerIntentionId,jdbcType=INTEGER},
			</if>
			<if test="workExperienceIds != null">
				work_experience_ids =
				#{workExperienceIds,jdbcType=VARCHAR},
			</if>
			<if test="educationExperienceIds != null">
				education_experience_ids =
				#{educationExperienceIds,jdbcType=VARCHAR},
			</if>
			<if test="projectExperienceIds != null">
				project_experience_ids =
				#{projectExperienceIds,jdbcType=VARCHAR},
			</if>
			<if test="visibility != null">
				visibility = #{visibility,jdbcType=INTEGER},
			</if>
			<if test="visitNumber != null">
				visit_number = #{visitNumber,jdbcType=INTEGER},
			</if>
			<if test="lastEditTime != null">
				last_edit_time = #{lastEditTime,jdbcType=DATE},
			</if>
		</set>
		where resume_id=#{resumeId}
	</update>
	<select id="findResumeByResumeId" parameterType="int"
		resultMap="resumeCustomJobMap">
		select * from resume where resume_id=#{resumeId}
	</select>
</mapper>