<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.WorkExperienceMapper">
	<resultMap id="BaseResultMap" type="com.pojo.WorkExperience">
		<id column="wExperience_id" property="wexperienceId" jdbcType="INTEGER" />
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="company_industry_id" property="companyIndustryId"
			jdbcType="INTEGER" />
		<result column="position_name" property="positionName"
			jdbcType="VARCHAR" />
		<result column="worksite" property="worksite" jdbcType="VARCHAR" />
		<result column="subordinate_number" property="subordinateNumber"
			jdbcType="INTEGER" />
		<result column="start_time" property="startTime" jdbcType="DATE" />
		<result column="end_time" property="endTime" jdbcType="DATE" />
		<result column="duty" property="duty" jdbcType="VARCHAR" />
	</resultMap>
	<insert id="addWorkExperience" parameterType="com.pojo.WorkExperience"
		useGeneratedKeys="true" keyProperty="wexperienceId">
		insert into work_experience
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="wexperienceId != null">
				wExperience_id,
			</if>
			<if test="companyName != null">
				company_name,
			</if>
			<if test="companyIndustryId != null">
				company_industry_id,
			</if>
			<if test="positionName != null">
				position_name,
			</if>
			<if test="worksite != null">
				worksite,
			</if>
			<if test="subordinateNumber != null">
				subordinate_number,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="duty != null">
				duty,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="wexperienceId != null">
				#{wexperienceId,jdbcType=INTEGER},
			</if>
			<if test="companyName != null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="companyIndustryId != null">
				#{companyIndustryId,jdbcType=INTEGER},
			</if>
			<if test="positionName != null">
				#{positionName,jdbcType=VARCHAR},
			</if>
			<if test="worksite != null">
				#{worksite,jdbcType=VARCHAR},
			</if>
			<if test="subordinateNumber != null">
				#{subordinateNumber,jdbcType=INTEGER},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=DATE},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=DATE},
			</if>
			<if test="duty != null">
				#{duty,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="findWorkExperienceById" parameterType="int"
		resultMap="BaseResultMap">
		select * from work_experience where
		wExperience_id=#{wexperienceId}
	</select>
	<update id="updateWorkExperience" parameterType="com.pojo.WorkExperience">
		update work_experience
		<set>
			<if test="companyName != null">
				company_name = #{companyName,jdbcType=VARCHAR},
			</if>
			<if test="companyIndustryId != null">
				company_industry_id =
				#{companyIndustryId,jdbcType=INTEGER},
			</if>
			<if test="positionName != null">
				position_name = #{positionName,jdbcType=VARCHAR},
			</if>
			<if test="worksite != null">
				worksite = #{worksite,jdbcType=VARCHAR},
			</if>
			<if test="subordinateNumber != null">
				subordinate_number =
				#{subordinateNumber,jdbcType=INTEGER},
			</if>
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=DATE},
			</if>
			<if test="endTime != null">
				end_time = #{endTime,jdbcType=DATE},
			</if>
			<if test="duty != null">
				duty = #{duty,jdbcType=VARCHAR}
			</if>
		</set>
		where wExperience_id=#{wexperienceId}
	</update>
	<delete id="deleteWorkExperienceById" parameterType="int">
		delete from
		work_experience where wExperience_id=#{wexperienceId}
	</delete>
</mapper>