<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.CareerIntentionMapper">
	<resultMap id="BaseResultMap" type="com.pojo.CareerIntention">
		<id column="cIntention_id" jdbcType="INTEGER" property="cintentionId" />
		<result column="industry_id" jdbcType="INTEGER" property="industryId" />
		<result column="position_id" jdbcType="INTEGER" property="positionId" />
		<result column="expect_worksite" jdbcType="VARCHAR" property="expectWorksite" />
		<result column="expect_salary" jdbcType="DOUBLE" property="expectSalary" />
		<result column="current_salary" jdbcType="DOUBLE" property="currentSalary" />
		<result column="is_discuss" jdbcType="INTEGER" property="isDiscuss" />
		<result column="is_show" jdbcType="INTEGER" property="isShow" />
	</resultMap>
	<insert id="addCareerIntention" parameterType="com.pojo.CareerIntention"
		useGeneratedKeys="true" keyProperty="cintentionId">
		insert into career_intention
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cintentionId != null">
				cIntention_id,
			</if>
			<if test="industryId != null">
				industry_id,
			</if>
			<if test="positionId != null">
				position_id,
			</if>
			<if test="expectWorksite != null">
				expect_worksite,
			</if>
			<if test="expectSalary != null">
				expect_salary,
			</if>
			<if test="currentSalary != null">
				current_salary,
			</if>
			<if test="isDiscuss != null">
				is_discuss,
			</if>
			<if test="isShow != null">
				is_show,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cintentionId != null">
				#{cintentionId,jdbcType=INTEGER},
			</if>
			<if test="industryId != null">
				#{industryId,jdbcType=INTEGER},
			</if>
			<if test="positionId != null">
				#{positionId,jdbcType=INTEGER},
			</if>
			<if test="expectWorksite != null">
				#{expectWorksite,jdbcType=VARCHAR},
			</if>
			<if test="expectSalary != null">
				#{expectSalary,jdbcType=DOUBLE},
			</if>
			<if test="currentSalary != null">
				#{currentSalary,jdbcType=DOUBLE},
			</if>
			<if test="isDiscuss != null">
				#{isDiscuss,jdbcType=INTEGER},
			</if>
			<if test="isShow != null">
				#{isShow,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="findCareerIntentionById" parameterType="int" resultMap="BaseResultMap">
		select * from career_intention where cIntention_id=#{cintentionId}
	</select>
</mapper>