<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.CompanyMapper">
	<resultMap id="BaseResultMap" type="com.pojo.Company">
		<id column="company_id" property="companyId" jdbcType="INTEGER" />
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="company_login_name" property="companyLoginName"
			jdbcType="VARCHAR" />
		<result column="company_password" property="companyPassword"
			jdbcType="VARCHAR" />
		<result column="company_location" property="companyLocation"
			jdbcType="VARCHAR" />
		<result column="industry_id" property="industryId" jdbcType="INTEGER" />
		<result column="chatter_name" property="chatterName" jdbcType="VARCHAR" />
		<result column="chatter_sex" property="chatterSex" jdbcType="VARCHAR" />
		<result column="company_email" property="companyEmail"
			jdbcType="VARCHAR" />
		<result column="chatter_phone" property="chatterPhone"
			jdbcType="VARCHAR" />
		<result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
	</resultMap>
	<insert id="addCompany" parameterType="com.pojo.Company">
		insert into company
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="companyId != null">
				company_id,
			</if>
			<if test="companyName != null">
				company_name,
			</if>
			<if test="companyLoginName != null">
				company_login_name,
			</if>
			<if test="companyPassword != null">
				company_password,
			</if>
			<if test="companyLocation != null">
				company_location,
			</if>
			<if test="industryId != null">
				industry_id,
			</if>
			<if test="chatterName != null">
				chatter_name,
			</if>
			<if test="chatterSex != null">
				chatter_sex,
			</if>
			<if test="companyEmail != null">
				company_email,
			</if>
			<if test="chatterPhone != null">
				chatter_phone,
			</if>
			<if test="phoneNumber != null">
				phone_number,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="companyId != null">
				#{companyId,jdbcType=INTEGER},
			</if>
			<if test="companyName != null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="companyLoginName != null">
				#{companyLoginName,jdbcType=VARCHAR},
			</if>
			<if test="companyPassword != null">
				#{companyPassword,jdbcType=VARCHAR},
			</if>
			<if test="companyLocation != null">
				#{companyLocation,jdbcType=VARCHAR},
			</if>
			<if test="industryId != null">
				#{industryId,jdbcType=INTEGER},
			</if>
			<if test="chatterName != null">
				#{chatterName,jdbcType=VARCHAR},
			</if>
			<if test="chatterSex != null">
				#{chatterSex,jdbcType=VARCHAR},
			</if>
			<if test="companyEmail != null">
				#{companyEmail,jdbcType=VARCHAR},
			</if>
			<if test="chatterPhone != null">
				#{chatterPhone,jdbcType=VARCHAR},
			</if>
			<if test="phoneNumber != null">
				#{phoneNumber,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="findCompanyIdByCompanyName" parameterType="string"
		resultType="int">
		select company_id from company where
		company_name=#{companyName}
	</select>
	<select id="findCompanyByCompanyLoginName" parameterType="string"
		resultMap="BaseResultMap">
		select * from company where
		company_login_name=#{companyLoginName}
	</select>
	<select id="findCompanyLogin" parameterType="com.pojo.Company"
		resultMap="BaseResultMap">
		select * from company where
		company_login_name=#{companyLoginName} and
		company_password=#{companyPassword}
	</select>
</mapper>