<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.JobhunterMapper">
	<resultMap id="BaseResultMap" type="com.pojo.Jobhunter">
		<id column="jobhunter_id" property="jobhunterId" jdbcType="INTEGER" />
		<result column="jobhunter_name" property="jobhunterName"
			jdbcType="VARCHAR" />
		<result column="jobhunter_real_name" property="jobhunterRealName"
			jdbcType="VARCHAR" />
		<result column="jobhunter_password" property="jobhunterPassword"
			jdbcType="VARCHAR" />
		<result column="jobhunter_sex" property="jobhunterSex"
			jdbcType="VARCHAR" />
		<result column="jobhunter_birthday" property="jobhunterBirthday"
			jdbcType="DATE" />
		<result column="jobhunter_marital_status" property="jobhunterMaritalStatus"
			jdbcType="VARCHAR" />
		<result column="jobhunter_phone" property="jobhunterPhone"
			jdbcType="VARCHAR" />
		<result column="jobhunter_email" property="jobhunterEmail"
			jdbcType="VARCHAR" />
		<result column="jobhunter_native_place" property="jobhunterNativePlace"
			jdbcType="VARCHAR" />
		<result column="jobhunt_entrance_status" property="jobhuntEntranceStatus"
			jdbcType="VARCHAR" />
		<result column="jobhunter_self_appraisal" property="jobhunterSelfAppraisal"
			jdbcType="VARCHAR" />
		<result column="jobhunter_graduate_school" property="jobhunterGraduateSchool"
			jdbcType="VARCHAR" />
		<result column="jobhunter_qualification" property="jobhunterQualification"
			jdbcType="VARCHAR" />
		<result column="jobhunter_address" property="jobhunterAddress"
			jdbcType="VARCHAR" />
		<result column="jobhunter_joindate" property="jobhunterJoindate"
			jdbcType="DATE" />
		<result column="jobhunter_last_logindate" property="jobhunterLastLogindate"
			jdbcType="DATE" />
		<result column="jobhunter_edit_status" property="jobhunterEditStatus"
			jdbcType="INTEGER" />
		<result column="jobhunter_extra_message" property="jobhunterExtraMessage"
			jdbcType="VARCHAR" />
	</resultMap>
	<insert id="addJobHunter" parameterType="com.pojo.Jobhunter">
		insert into jobhunter
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="jobhunterId != null">
				jobhunter_id,
			</if>
			<if test="jobhunterName != null">
				jobhunter_name,
			</if>
			<if test="jobhunterRealName != null">
				jobhunter_real_name,
			</if>
			<if test="jobhunterPassword != null">
				jobhunter_password,
			</if>
			<if test="jobhunterSex != null">
				jobhunter_sex,
			</if>
			<if test="jobhunterBirthday != null">
				jobhunter_birthday,
			</if>
			<if test="jobhunterMaritalStatus != null">
				jobhunter_marital_status,
			</if>
			<if test="jobhunterPhone != null">
				jobhunter_phone,
			</if>
			<if test="jobhunterEmail != null">
				jobhunter_email,
			</if>
			<if test="jobhunterNativePlace != null">
				jobhunter_native_place,
			</if>
			<if test="jobhuntEntranceStatus != null">
				jobhunt_entrance_status,
			</if>
			<if test="jobhunterSelfAppraisal != null">
				jobhunter_self_appraisal,
			</if>
			<if test="jobhunterGraduateSchool != null">
				jobhunter_graduate_school,
			</if>
			<if test="jobhunterQualification != null">
				jobhunter_qualification,
			</if>
			<if test="jobhunterAddress != null">
				jobhunter_address,
			</if>
			<if test="jobhunterJoindate != null">
				jobhunter_joindate,
			</if>
			<if test="jobhunterLastLogindate != null">
				jobhunter_last_logindate,
			</if>
			<if test="jobhunterEditStatus != null">
				jobhunter_edit_status,
			</if>
			<if test="jobhunterExtraMessage != null">
				jobhunter_extra_message,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="jobhunterId != null">
				#{jobhunterId,jdbcType=INTEGER},
			</if>
			<if test="jobhunterName != null">
				#{jobhunterName,jdbcType=VARCHAR},
			</if>
			<if test="jobhunterRealName != null">
				#{jobhunterRealName,jdbcType=VARCHAR},
			</if>
			<if test="jobhunterPassword != null">
				#{jobhunterPassword,jdbcType=VARCHAR},
			</if>
			<if test="jobhunterSex != null">
				#{jobhunterSex,jdbcType=VARCHAR},
			</if>
			<if test="jobhunterBirthday != null">
				#{jobhunterBirthday,jdbcType=DATE},
			</if>
			<if test="jobhunterMaritalStatus != null">
				#{jobhunterMaritalStatus,jdbcType=VARCHAR},
			</if>
			<if test="jobhunterPhone != null">
				#{jobhunterPhone,jdbcType=VARCHAR},
			</if>
			<if test="jobhunterEmail != null">
				#{jobhunterEmail,jdbcType=VARCHAR},
			</if>
			<if test="jobhunterNativePlace != null">
				#{jobhunterNativePlace,jdbcType=VARCHAR},
			</if>
			<if test="jobhuntEntranceStatus != null">
				#{jobhuntEntranceStatus,jdbcType=VARCHAR},
			</if>
			<if test="jobhunterSelfAppraisal != null">
				#{jobhunterSelfAppraisal,jdbcType=VARCHAR},
			</if>
			<if test="jobhunterGraduateSchool != null">
				#{jobhunterGraduateSchool,jdbcType=VARCHAR},
			</if>
			<if test="jobhunterQualification != null">
				#{jobhunterQualification,jdbcType=VARCHAR},
			</if>
			<if test="jobhunterAddress != null">
				#{jobhunterAddress,jdbcType=VARCHAR},
			</if>
			<if test="jobhunterJoindate != null">
				#{jobhunterJoindate,jdbcType=DATE},
			</if>
			<if test="jobhunterLastLogindate != null">
				#{jobhunterLastLogindate,jdbcType=DATE},
			</if>
			<if test="jobhunterEditStatus != null">
				#{jobhunterEditStatus,jdbcType=INTEGER},
			</if>
			<if test="jobhunterExtraMessage != null">
				#{jobhunterExtraMessage,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateJobHunterByDetails" parameterType="com.pojo.Jobhunter">
		update jobhunter
		<set>
			<if test="record.jobhunterId != null">
				jobhunter_id = #{record.jobhunterId,jdbcType=INTEGER},
			</if>
			<if test="record.jobhunterName != null">
				jobhunter_name = #{record.jobhunterName,jdbcType=VARCHAR},
			</if>
			<if test="record.jobhunterRealName != null">
				jobhunter_real_name = #{record.jobhunterRealName,jdbcType=VARCHAR},
			</if>
			<if test="record.jobhunterPassword != null">
				jobhunter_password = #{record.jobhunterPassword,jdbcType=VARCHAR},
			</if>
			<if test="record.jobhunterSex != null">
				jobhunter_sex = #{record.jobhunterSex,jdbcType=VARCHAR},
			</if>
			<if test="record.jobhunterBirthday != null">
				jobhunter_birthday = #{record.jobhunterBirthday,jdbcType=DATE},
			</if>
			<if test="record.jobhunterMaritalStatus != null">
				jobhunter_marital_status =
				#{record.jobhunterMaritalStatus,jdbcType=VARCHAR},
			</if>
			<if test="record.jobhunterPhone != null">
				jobhunter_phone = #{record.jobhunterPhone,jdbcType=VARCHAR},
			</if>
			<if test="record.jobhunterEmail != null">
				jobhunter_email = #{record.jobhunterEmail,jdbcType=VARCHAR},
			</if>
			<if test="record.jobhunterNativePlace != null">
				jobhunter_native_place =
				#{record.jobhunterNativePlace,jdbcType=VARCHAR},
			</if>
			<if test="record.jobhuntEntranceStatus != null">
				jobhunt_entrance_status =
				#{record.jobhuntEntranceStatus,jdbcType=VARCHAR},
			</if>
			<if test="record.jobhunterSelfAppraisal != null">
				jobhunter_self_appraisal =
				#{record.jobhunterSelfAppraisal,jdbcType=VARCHAR},
			</if>
			<if test="record.jobhunterGraduateSchool != null">
				jobhunter_graduate_school =
				#{record.jobhunterGraduateSchool,jdbcType=VARCHAR},
			</if>
			<if test="record.jobhunterQualification != null">
				jobhunter_qualification =
				#{record.jobhunterQualification,jdbcType=VARCHAR},
			</if>
			<if test="record.jobhunterAddress != null">
				jobhunter_address = #{record.jobhunterAddress,jdbcType=VARCHAR},
			</if>
			<if test="record.jobhunterJoindate != null">
				jobhunter_joindate = #{record.jobhunterJoindate,jdbcType=DATE},
			</if>
			<if test="record.jobhunterLastLogindate != null">
				jobhunter_last_logindate =
				#{record.jobhunterLastLogindate,jdbcType=DATE},
			</if>
			<if test="record.jobhunterEditStatus != null">
				jobhunter_edit_status =
				#{record.jobhunterEditStatus,jdbcType=INTEGER},
			</if>
			<if test="record.jobhunterExtraMessage != null">
				jobhunter_extra_message =
				#{record.jobhunterExtraMessage,jdbcType=VARCHAR},
			</if>
		</set>
	</update>
	<select id="findJobHunterByPhone" parameterType="string"
		resultMap="BaseResultMap">
		select * from jobhunter where
		jobhunter_phone=#{jobhunterPhone}
	</select>
	<select id="findJobHunterLogin" parameterType="com.pojo.Jobhunter"
		resultMap="BaseResultMap">
		select * from jobhunter where
		jobhunter_name=#{jobhunterName} and
		jobhunter_password=#{jobhunterPassword}
	</select>
	<select id="findJobHunterByName" parameterType="string"
		resultMap="BaseResultMap">
		select * from jobhunter where
		jobhunter_name=#{jobhunterName}
	</select>
</mapper>