<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.JobhunterUploadMapper">
	<resultMap id="BaseResultMap" type="com.pojo.JobhunterUpload">
		<id column="upload_id" property="uploadId" jdbcType="INTEGER" />
		<result column="jobhunter_id" property="jobhunterId" jdbcType="INTEGER" />
		<result column="upload_location" property="uploadLocation"
			jdbcType="VARCHAR" />
		<result column="upload_name" property="uploadName" jdbcType="VARCHAR" />
		<result column="upload_time" property="uploadTime" jdbcType="DATE" />
		<result column="upload_type" property="uploadType" jdbcType="VARCHAR" />
	</resultMap>
</mapper>