<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.JobMapper">
	<resultMap id="BaseResultMap" type="com.pojo.Job">
		<id column="job_id" property="jobId" jdbcType="INTEGER" />
		<result column="job_name" property="jobName" jdbcType="VARCHAR" />
		<result column="worksite" property="worksite" jdbcType="VARCHAR" />
		<result column="job_subtime" property="jobSubtime" jdbcType="DATE" />
		<result column="industry_id" property="industryId" jdbcType="INTEGER" />
		<result column="job_salary" property="jobSalary" jdbcType="DOUBLE" />
		<result column="job_status" property="jobStatus" jdbcType="INTEGER" />
		<result column="job_description" property="jobDescription"
			jdbcType="VARCHAR" />
		<result column="job_email" property="jobEmail" jdbcType="VARCHAR" />
		<result column="company_id" property="companyId" jdbcType="INTEGER" />
		<result column="is_hot" property="isHot" jdbcType="INTEGER" />
	</resultMap>
	<resultMap type="com.pojo.JobCustom" id="hotJobLimitTenAndNewResultMap"
		extends="BaseResultMap">
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="company_location" property="companyLocation"
			jdbcType="VARCHAR" />
		<result column="industry_name" property="industryName"
			jdbcType="VARCHAR" />
	</resultMap>
	<insert id="addJob" parameterType="com.pojo.Job">
		insert into job
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="jobId != null">
				job_id,
			</if>
			<if test="jobName != null">
				job_name,
			</if>
			<if test="worksite != null">
				worksite,
			</if>
			<if test="jobSubtime != null">
				job_subtime,
			</if>
			<if test="industryId != null">
				industry_id,
			</if>
			<if test="jobSalary != null">
				job_salary,
			</if>
			<if test="jobStatus != null">
				job_status,
			</if>
			<if test="jobDescription != null">
				job_description,
			</if>
			<if test="jobEmail != null">
				job_email,
			</if>
			<if test="companyId != null">
				company_id,
			</if>
			<if test="isHot != null">
				is_hot,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="jobId != null">
				#{jobId,jdbcType=INTEGER},
			</if>
			<if test="jobName != null">
				#{jobName,jdbcType=VARCHAR},
			</if>
			<if test="worksite != null">
				#{worksite,jdbcType=VARCHAR},
			</if>
			<if test="jobSubtime != null">
				#{jobSubtime,jdbcType=DATE},
			</if>
			<if test="industryId != null">
				#{industryId,jdbcType=INTEGER},
			</if>
			<if test="jobSalary != null">
				#{jobSalary,jdbcType=DOUBLE},
			</if>
			<if test="jobStatus != null">
				#{jobStatus,jdbcType=INTEGER},
			</if>
			<if test="jobDescription != null">
				#{jobDescription,jdbcType=VARCHAR},
			</if>
			<if test="jobEmail != null">
				#{jobEmail,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				#{companyId,jdbcType=INTEGER},
			</if>
			<if test="isHot != null">
				#{isHot,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="findHotJobLimitTenAndNew" resultMap="hotJobLimitTenAndNewResultMap">
		select
		job.*,company.company_name,company.company_location,industry.industry_name
		from
		job,company,industry where
		job.company_id=company.company_id and
		job.is_hot=1 and job.industry_id=industry.industry_id order by
		job.job_subtime desc limit 10
	</select>
	<select id="findHotJobLimitFourAndNewByIndustryId"
		parameterType="int" resultMap="hotJobLimitTenAndNewResultMap">
		select
		job.*,company.company_name,company.company_location,industry.industry_name
		from
		job,company,industry where job.industry_id=#{industryId} and
		job.company_id=company.company_id and
		job.is_hot=1 and
		job.industry_id=industry.industry_id order by
		job.job_subtime desc
		limit 4
	</select>
	<select id="findAllJobs" resultType="int">
		select count(*) from job
	</select>
	<select id="findAllJobsByPage" parameterType="com.pojo.Page"
		resultMap="hotJobLimitTenAndNewResultMap">
		select
		job.*,company.company_name,company.company_location,industry.industry_name
		from
		job,company,industry where job.industry_id=industry.industry_id
		and
		job.company_id=company.company_id and
		job.is_hot=1 and
		job.industry_id=industry.industry_id
		limit #{pageNums},#{pageSize}
	</select>
	<sql id="query_job_where">
		<if test="job.jobName!=null">
			and job_name like "%${job.jobName}%"
		</if>
		<if test="job.industryId!=null">
			and job.industry_id=#{job.industryId}
		</if>
		<if test="location!=null">
			and company.company_location like "%${location}%"
		</if>
	</sql>
	<select id="findAllJobsByCondition" parameterType="com.pojo.JobQueryVo"
		resultType="int">
		select count(*) from job,company
		<where>
			<include refid="query_job_where"></include>
		</where>
		and
		job.company_id=company.company_id
	</select>
	<select id="findJobsByCondition" parameterType="com.pojo.JobQueryVo"
		resultMap="hotJobLimitTenAndNewResultMap">
		select
		job.*,company.company_name,company.company_location,industry.industry_name
		from
		job,company,industry
		<where>
			<include refid="query_job_where"></include>
		</where>
		and job.industry_id=industry.industry_id
		and
		job.company_id=company.company_id
		<if test="page!=null">
			limit #{page.pageNums},#{page.pageSize}
		</if>
	</select>
</mapper>